
<h1>New Task </h1>
<%= form_with model: @task do |t| %>
  <%= t.label :title %>
  <%= t.text_field :title %>
  <%= t.label :details %>
  <%= t.text_field :details %>
  <%= t.label :completed%>
  <%= t.number_field :completed%>
  <%= t.submit %>
<% end %>
<br>
<%= link_to "Back to the main", root_path%>
